#content{
	#slide-wrapper {

	}
	.banner {

	}
	.lastest-product-home {
		.title_module {

		}
		.box-content {
			.box-product {
				margin-right: 10px;
				.image {
					img{
						width: 100%;
						height: 100%;
						padding-top: 10px;
					}
				}
			}
		}
	}
	.sale-product-home {
		.title_module {

		}
		.box-content {
			.box-product {
				margin-right: 10px;
				.image {
					img{
						width: 100%;
						height: 100%;
						padding-top: 10px;
					}
				}
			}
		}
	}
}